.restaurantlistcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
}

.restaurantwrapper {
    width: 47%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.restauranwrapper .headingwrapper,
.restaurantwrapper .addresswrapper {
    padding-left: 10px;
}

.restaurantwrapper h5 {
    margin-left: 15px;
}

.restaurantwrapper .address {
    margin-left: 5px;
}

.orange {
    background-color: orange;
    /* color: white; */
}

/* Style for red-colored user items */
.red {
    background-color: red;
    /* color: white; */
}


@media (max-width: 700px) {
    .restaurantlistcontainer {
        flex-direction: column;
    }


    .restaurantwrapper {
        width: 95%;
        padding: 5px;
    }
}